.background {
    background: linear-gradient(-45deg, #161A1D, #03071e, #161a1d, #01161e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navimg {
    width: 2em;
}

.card-background {
    background-color: rgba(255, 235, 205, 0)!important;
    box-shadow: 1px 1px 5px rgba(255, 235, 205, 0.419);
}

.hoverZoom {
    transition: transform .4s;
}

.hoverZoom:hover {
    transform: scale(1.1)
}

.otherborder {
    border-bottom: 2px solid;
}

.try:nth-of-type(3n+1) {
    color: #ff206e;
    text-shadow: 0 0 3px #d311ac;
}

.try:nth-of-type(3n+2) {
    color: #fbff12;
    text-shadow: 0 0 3px #af9115;
}

.try:nth-of-type(3n+3) {
    color: #41ead4;
    text-shadow: 0 0 3px #2ba0d6;
}

.try:nth-of-type(3n+4) {
    color: #d8d8d8;
    text-shadow: 0 0 3px #b3b3b3;
}

.first-color {
    color: #FF206E!important;
    font-weight: bold;
}

.first-color:hover {
    color: #fc4e91!important;
}

.second-color {
    color: #FBFF12!important;
    font-weight: bold;
}

.second-color:hover {
    color: #fdff6a!important;
}

.third-color {
    color: #41EAD4!important;
    font-weight: bold;
}

.third-color:hover {
    color: #a1ebe1!important;
}

.first-neutral {
    color: white!important;
    font-weight: bold;
}

.first-neutral:hover {
    color: rgb(254, 208, 208)!important;
}

.second-neutral {
    color: black!important;
    font-weight: bold;
}

a {
    text-decoration: none!important;
}

.otherbutton {
    background-color: #161a1d00!important;
    border: none!important;
}


/* .letssee {
    color: white;
    background-color: white;
} */


/* 

ul li a{
    font-size: 1.5em;
}

.backimg{
    background-image: url("logo2.png");
    background-position: right top;
    background-repeat: no-repeat;
}


.iconimg{
    width: 10em;
}



.thunder{
    
    border-top: 1em solid black;
    border-bottom: 1em solid black;
}

.foxy{
    width: 10em;
}


.sec1{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}


.navsty{
    background-color: white;
} */


/* Skill bar*/


/* .container1 {
    width: 100%; 
    background-color: #ddd; 
}

.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: rgb(0, 0, 0); 
} */


/* 
  .html {width: 80%; background-color: #000000;} 
  .css {width: 70%; background-color: #1d1d1d;} 
  .js {width: 30%; background-color: #3f3f3f;} 
  .php {width: 10%; background-color: #5c5b5b;}  */


/* about me*/


/* .meimg{
    width: 20em;
} */


/* Contact and card*/


/* 
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: black;
    font-size: 18px;
}
.title2 {
    color: black;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.secard{
    font-family: sans-serif; 
    }
    */


/* Footer*/

.footsty {
    background-color: rgb(59, 59, 59);
    color: rgba(255, 255, 255, 0.733);
}

.texthover {
    color: blueviolet;
}